body{
    background-image: url(../img/background.gif);
    background-size: cover;
}
h1{
    color: cornflowerblue;
}
.canvas-div{
    width: 700px;
    height: 600px;
    float: left;
}
canvas{
    stroke-width: 10px;
    border-radius: 15px;
    border-style: solid;
    background-color: white;
}
.button-group{
    float: left;
    margin-left: 5px;
    border-radius: 15px;
    stroke-width: 10px;
    border-style: solid;
    background-color: rgb(200, 255, 255);
}
.control{
    width: 64px;
    height: 64px;
    background-color: rgb(200, 255, 255);
    border-width: 3px;
    border-color: black;
    border-radius: 5px;
}
input{
    position: absolute;
}
.control:hover{
    width: 64px;
    height: 64px;
    background-color: rgb(35, 255, 255);
}
select{
    background-color: rgb(113, 255, 57);
    border-radius: 5px;
}
.slidecontainer {
    width: 100%;
}
.slider {
-webkit-appearance: none;
width: 200px;
height: 5px;
border-radius: 5px;
background: #d3d3d3;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
border-radius: 50%;
background: rgb(255, 91, 241);
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50%;
background: rgb(255, 91, 241);
cursor: pointer;
}